* {
    box-sizing: border-box;
}

html {

    /*color font*/
    --color--h1: #75B79E;

    /*color background*/
    --background: #EEF9BF;
    --color-card-back: #A7E9AF;

    /* color border*/
    --border: #99CEA8;

    /* fonte padrão*/
    font-family: 'Roboto';
    /*parametro de conversão pra rem*/
    font-size: 62.5%;
}

body {
    max-width: 111rem;
    max-height: 62.9rem;
}

main {
    background-color: var(--background);
    width: 100%;
    height: 100%;
    padding: 0 11.6rem 0 12.2rem;
}

section {
    text-align: center;
}

h1 {
    color: var(--color--h1);
    font-weight: 700;
    font-size: 5.6rem;
    line-height: 6.6rem;
    letter-spacing: -0.004em;
    padding: 0.5rem 0 4.7rem 0;
    text-align: center;

}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.card {

    width: 11.7rem;
    height: 14.6rem;
    border-radius: 0.5rem;
    transition: all 1s;
    transform-style: preserve-3d;
    position: relative;
    margin: 0 3.4rem 3.4rem 0;
}


.face {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: var(--color-card-back);
    position: absolute;
    backface-visibility: hidden;
    border: 0.1rem solid var(--border);
    padding: 2.4rem 0.7rem 2.2rem 1rem;
}


.front {
    background-color: red;
    transform: rotateY(180deg);
}

.back {
    backface-visibility: hidden;
}

.image {
    width: 10rem;
    height: 10rem;
}

.select-card {
    transform: rotateY(180deg);
}

.foi .front {
    filter: saturate(0.5);
}



/*relogio */
header{
    background-color: var(--background);
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    height: 3.5rem;
}

.caixa-do-relogio {
    padding: 0.4rem 1rem 0.2rem 0.2rem;
    border-radius: 0.5rem;
    text-align: end;
  }
  
  .cronometro {
    color: var(--color--h1);
    font-size: 2em;
    font-weight: bold;
  }
  
  .text {
    color: var(--color--h1);
    font-weight: bold;
    font-size: 1em;
  }
  

/*responsividade*/
@media screen and (max-width: 600px) {

    body,
    main {
        height: auto;
    }

    main {
        padding: 0;
    }

    section {
        display: flex;
        flex-wrap: wrap;
    }

    .container {
        padding-left: 10.9rem;
        padding-right: 10.9rem;
    }

    .image{
        width: 100%;
        height: 100%;
    }

    h1 {
        font-size: 4.6rem;
        line-height: 4.2rem;
        padding-left: 1.2rem;
        padding-right: 1.1rem;
    }
}

@media screen and (max-width: 366px) {
    h1 {
        font-size: 3.6rem;
    }
}